# SQLite e bases de dados
*.db
*.sqlite3
*.db-shm
*.db-wal
*.db-journal

# Arquivos de dados pesados ou temporários
*.json
*.csv
*.pdf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/
ENV/
# Node.js configurations
!package.json
node_modules/
package-lock.json
imagens_preparadas/
